*, *:before, *:after {
    box-sizing:border-box;
}

@font-face {
    font-family: "Arial";
    src: url('../fonts/arial.ttf');
}

@font-face {
    font-family: "Arial Bold";
    src: url('../fonts/arialbd.ttf');
}

@font-face {
    font-family: "Arial Black";
    src: url('../fonts/arialblk.ttf');
}

html {
    font-family: 'Arial';
}

body {
    background-color:#000000;
    overflow:hidden;
}

a {
    text-decoration:none;
}

/*******************************/
/***********HEADER**************/
/*******************************/

.logo {
    position:absolute;
    top:1em;
    left:2em;
}

.logo img {
    position:relative;
    top:0;
    left:0;
    display:block;
    width:150px;
    padding-bottom:0.6em;
    border-bottom:1px solid #ff2b06;
    margin-bottom:0.6em;
}

.logo p {
    text-align:center;
    color:#ffffff;
    font-size:14px;
}

/*menu hamburger*/
header img {
    position:absolute;
    top:1em;
    right:2em;
    cursor:pointer;
}

#burger {
    z-index:100;
    height:50px;
}

.vjs-poster {
    display:none;
}

/*************************************/
/***************LECTEUR***************/
/*************************************/

.video-js {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:-1;
    cursor:pointer;
}

.video-js .vjs-big-play-button {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border:none;
    background-color:#ff2b06;
    border-radius:50%;
    height:60px;
    width:60px;
    line-height:60px;
    text-align:center;
}

/*passage souris sur lecteur*/
.video-js:hover .vjs-big-play-button {
    /*mÃªme couleur avec transparence*/
    background-color:rgba(255, 43, 6, 0.5);
}

/*passage souris sur bouton play/pause*/
.video-js .vjs-big-play-button:hover {
    background-color:#ff2b06;
}

/*contenu du bouton play/pause*/
.video-js .vjs-big-play-button:before {
    /*content:'';*/
}

/*si utilisateur bouge souris*/
.vjs-user-active .vjs-big-play-button {
    display:block;
}

.vijs-user-active .vjs-control-bar {
    display:block;
}

/*sinon on masque bouton play et barre de lecture*/
.vjs-user-inactive .vjs-big-play-button {
    display:none;
}

.vijs-user-inactive .vjs-control-bar {
    display:none;
}

section {
    display:none;
}

/*************************************/
/******************VOLET**************/
/*************************************/

section {
    background-color:rgba(255,255,255,0.5);
    position:absolute;
    top:0;
    right:0;
    width:50%;
    height:100vh;
    padding:7em;
    text-align:right;
    font-family:'Arial Black';
}

.mainDescription {
    border-bottom:1px solid #e62b1e;
}

.mainDescription h1 {
    color:#e62b1e;
    font-size:3em;
    text-transform:uppercase;
    line-height:1.2;
}

.mainDescription .personne {
    text-transform:uppercase;
    font-size:2em;
    line-height:2;
}

.red {
    color:#e62b1e;
}

/*infos de lieu, date, durée*/

.mainDescription ul {
    display:flex;
    justify-content:space-between;
    margin:2em 0 2em 0;
    height:30px;
    line-height:30px;
}

.mainDescription li {
    display:inline-block;
}

/*gestion des flèches*/
.description.lieu::before, .description.duree::before {
    margin:0 2em;
    content:'';
    background-image:url('../images/arrow_left.png');
    width:20px;
    height:20px;
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
}

.description.lieu::after, .description.duree::after {
    margin:0 2em;
    content:'';
    background-image:url('../images/arrow_right.png');
    width:20px;
    height:20px;
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
}

/*paragraphe*/

.description.texte {
    font-family:'Arial';
    font-size:1.5em;
    padding-bottom:0.5em;
}

.premierePhrase {
    font-family:'Arial Bold';
}

/*choix*/

/* devait afficher plusieurs vignettes, mais ici cache Ã©galement les flÃ¨ches...
section nav {
    overflow:hidden;
}
.slick-list {
    overflow:visible;
}
*/

/*+ de talks*/
section nav h2 {
    text-transform: uppercase;
    margin:1em 0;
}

/*boutons du slider*/
.slick-prev {
    left:-60px;
    /*augmente zone cliquable*/
    height:50px;
    width:50px;
}

.slick-prev:before {
    content:url('../images/arrow_left.png');
}

.slick-next {
    right:-60px;
    /*augmente zone cliquable*/
    height:50px;
    width:50px;
}

.slick-next:before {
    content:url('../images/arrow_right.png');
}


/*les images et leur conteneur font la mÃªme taille (positionnement texte)*/
.itemVideo {
    height:200px;
    /*limite l'action du hover à l'image
    max-width:450px;*/
}

#listeVideos img {
    height:200px;
    cursor:pointer;
}

.infos {
    position:absolute;
    bottom:0;
    padding:10px;
    text-align:left;
    width:300px;
    line-height:1.2;
    background-color:rgba(0, 0, 0, 0.8);
    cursor:pointer;
}

/*infos à  cacher au hover sur les vignettes*/
.itemVideo:hover .infos /*h3, .itemVideo:hover .infos .personne*/  {
    display:none;
}

.infos h3 {
    color:#e62b1e;
    text-transform:uppercase;
    line-height:1.2;
}

.infos .personne {
    color:#ffffff;
}

.moreInfos {
    display:none;
    color:#ffffff;
    cursor:pointer;
}

/*infos Ã  montrer au hover sur les vignettes*/
.itemVideo:hover .moreInfos {
    display:block;
    position:absolute;
    bottom:0;
    padding:10px;
    text-align:left;
    width:300px;
    line-height:1.2;
    background-color:rgba(0, 0, 0, 0.8);

}

/*****************************/
/********MEDIA QUERIES********/
/*****************************/

/**********LAPTOP************/

@media screen and (max-width:1400px) {
    html {
        font-size:10px;
    }

    /*titre vidéo lue*/
    .mainDescription h1 {
        font-size:2em;
    }

    .mainDescription .personne {
        font-size:1.8em;
    }

    /*espacement flèches décoratives*/
    .description.lieu::before, .description.duree::before {
        margin:0 1em;
    }

    .description.lieu::after, .description.duree::after {
        margin:0 1em;
    }

    /*taille images slider*/

    .itemVideo {
        height:140px;
    }

    #listeVideos img {
        height:140px;
    }

    /*flèches slider*/
    .slick-prev {
        left:-50px;
    }

    .slick-next {
        right:-50px;
    }

    /*taille infos sur images slider*/
    .infos {
        width:200px;
    }

    .itemVideo:hover .moreInfos {
        width:200px;
    }
}
