*, *:before, *:after {
  box-sizing:border-box;
}

@font-face {
    font-family: "Arial";
    src: url('../fonts/arial.ttf');
}

html {
    font-family: 'Arial';
}

body {
    background-color:#000000;
    overflow:hidden;
}

a {
    text-decoration:none;
}

/************/
/***HEADER***/
/************/

.logo {
    position:absolute;
    top:1em;
    left:2em;
}

.logo img {
    position:relative;
    top:0;
    left:0;
    display:block;
    width:150px;
    padding-bottom:0.6em;
    border-bottom:1px solid #ff2b06;
    margin-bottom:0.6em;
}

.logo p {
    text-align:center;
    color:#ffffff;
    font-size:14px;
}

/*menu hamburger*/
header img {
    position:absolute;
    top:1em;
    right:2em;
    cursor:pointer;
}

/*************/
/***LECTEUR***/
/*************/

.video-js {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:-1;
    cursor:pointer;
}

.video-js .vjs-big-play-button {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    border:none;
    background-color:#ff2b06;
    border-radius:50%;
    height:60px;
    width:60px;
    line-height:60px;
    text-align:center;
}

/*passage souris sur lecteur*/
.video-js:hover .vjs-big-play-button {
    /*même couleur avec transparence*/
    background-color:rgba(255, 43, 6, 0.5);
}

/*passage souris sur bouton play/pause*/
.video-js .vjs-big-play-button:hover {
    background-color:#ff2b06;
}

/*contenu du bouton play/pause*/
.video-js .vjs-big-play-button:before {
    /*content:'';*/
}

/*si utilisateur bouge souris*/
.vjs-user-active .vjs-big-play-button {
    display:block;
}

.vijs-user-active .vjs-control-bar {
    display:block;
}

/*sinon on masque bouton play et barre de lecture*/
.vjs-user-inactive .vjs-big-play-button {
    display:none;
}

.vijs-user-inactive .vjs-control-bar {
    display:none;
}

section {
    display:none;
}

/*************/
/***VOLET*****/
/*************/

section {
    background-color:rgba(255,255,255,0.5);
    position:absolute;
    top:0;
    right:0;
    width:50%;
    height:100vh;
}